body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
  overflow-y: scroll;
}

#chat-container {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 40px;
}

#chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

#chat-get-api-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.message {
  margin-bottom: 15px;
}

.message.user {
  text-align: right;
}

.message p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 80%;
}

.message.user p {
  background-color: #0084ff;
  color: white;
}

.message.bot p {
  background-color: #e5e5ea;
  color: black;
}

.input-container {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.input-container input,
.input-container select,
.input-container textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-family: Arial, sans-serif;
}

.input-container textarea {
  resize: vertical;
}

.input-container button {
  padding: 10px 15px;
  border: none;
  background-color: #0084ff;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.input-text {
  width: 25%;
  margin-bottom: 20px;
}

#agent-bot-setting {
  text-align: left;
}

#agent-end-point-setting {
  text-align: center;
}

#agent-model-setting {
  text-align: right;
}

#agentRole {
  height: 100px;
}

#link-container {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#link-container a {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  text-decoration: none;
  color: #0084ff;
}
